body {
    background-color: #f6f4f0;
    font-family: 'Inter', sans-serif;
    color: #1e1e1e;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 6%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: transparent;
}

.logo {
    font-weight: 700;
    font-size: 200%;
}

a{
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 20px;
}

.nav-links {
    display: flex;
    gap: 3rem;
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.nav-links a {
    text-decoration: none;
    color: #2b2b2b;
    transition: color 0.1s;
    border-bottom: 3px solid transparent;
    padding-bottom: 4px;
    border: none;
}

.nav-links a:hover {
    color: #000;
    border-bottom-color: #b89b7b;
    text-shadow: 0px 1px 0px black;
    font-family: Arial;
    font-size: 17px;
    font-weight:500;
    border:none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 6% 4rem 6%;
    max-width: 1400px;
    margin: 0 auto;
    gap: 3rem;
    flex-wrap: wrap;
}

.intro{
    flex: 1 1 400px;
}

.mini-cartes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    width: 100%;
    max-width: 500px;
}

.stack-item{
    font-size: 17px;
    font-weight: 900;
    text-align: center;
    background-color: #f1bf86;
    border-radius: 32px;
    padding: 1.2rem 1rem 1rem 1rem;
    box-shadow: 70px 20px 35px -10px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
    border: 1px solid #fbf8f4;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}