body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    width: 800px;
    margin: 30px auto;
    background: white;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

/* HEADER AVEC IMAGE */
.header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #333;
    padding-bottom: 20px;
}

.profile-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 25px;
    border: 3px solid #333;
}

.header-text h1 {
    margin: 0;
    color: #333;
}

.header-text p {
    margin: 5px 0;
    color: #555;
}

/* SECTIONS */
.section {
    margin-top: 25px;
}

.section h2 {
    border-left: 5px solid #333;
    padding-left: 10px;
    color: #333;
}

.job {
    margin-bottom: 15px;
}

.date {
    font-size: 14px;
    color: gray;
}

ul {
    padding-left: 20px;
}
