:root{
    --first-bg: rgba(3, 1, 58, 0.892);
    --second-bg: rgb(1, 1, 130);
}
header{
    height: 100vh;
}
.header{
    position: sticky;
    top: 0;
    padding: 10px;
}
main{
    padding: 0 70px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.salutation-text{
    text-transform: uppercase;
    font-size: 1rem;
    color: rgb(0, 183, 193);
}

.card{
    border: 2px solid black;
    padding: 30px;
    box-shadow: 2px 2px 5px solid;
    border-radius: 20px;
}
.nom{
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 10px black;
    margin: 25px 0;
}
.bienvenue-text{
    margin-bottom: 50px;
}
.prenom{color: red;}
.button-parts a{
    text-decoration: none;
    border: 1px solid black;
    padding: 15px 20px;
    
}
.section{
    min-height: 100vh;
    
}
.section h4{
    font-size: 3rem;
    color: brown;
    text-decoration: underline;
}